/public/documentos
/config/ide-helper.php
/bkvendor
/vendor
/node_modules
/storage/*
/extsign
!/storage/**/.gitkeep
/public/storage
/storage/*.key
/.idea
.idea
.idea/*
.idea/workspace.xml
_ide_helper.php
Homestead.json
Homestead.yaml
.env
/public/assets/demo/avatars
/public/assets/fotos
/public/info.php
/public/*.apk
/database/datafiles/actuarios_jespeciales.csv
/database/datafiles/actuarios_centrales.csv
/.casos/
.DS_Store
CertificadosLlavesQA
/php_config
/php_custom_ini
/postgres_data
/redis_config
/redis_data
/apache_config
/packages/collective/vendor
/packages/entrust/vendor
